th{
    width: 150px;
    height: 20px;
    font-size: 0.5cm;
    text-align: center;
}

html{
    background-color:#fafafa
}

img{
    border-radius: 5%;
}
table{
    margin-left:100px;
}

.container {
    margin-left: 100px;
    margin-right: 100px;
   
}

.title{
    text-align: center;
}

.fund{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding-bottom: 50px;
}
.card{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 300px;
    height: 400px;
    justify-items: center;
    border-radius: 5%;
    background-color: white;
}

.quest{
    padding-top: 40px;
}

.button{
    width: 100px;
}

.amount{
    font-size: 2cm;
}

.graph{
    margin-top: 20px
}

.form{
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin:auto;
    margin-top: 100px;
    width: 200px;
    height: 200px;
    background-color: white;
    justify-items: center;
    border-radius: 5%;

}

.head-bar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.bdimp{
    width:200px;
    height:50px;
}

.bdlabel{
    padding-left: 35px;
    font-size: 1cm;
}

.buttons{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
