<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://d3js.org/d3.v6.js"></script>
    <link rel="stylesheet" href="../styles.css">
    <title>Kripky</title>
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>FONDOS KRIPKY</h1>
        </div>
        <div class=information>
            <div class="amount">
                <div>$346.253 <span style="font-size: 1cm; color:grey"> + $6.253</span></div>
                
            </div>
            <div class="portfolio">
                <div>Doble Impacto: $171.612</div>
                <div>Quest Global Value: $174.641</div>
            </div>
            <div class= "investment">
                <div class="graph"></div>
            </div>
        </div>
        <div class="fund">
            <div class="card">
                <img src="../images/doble_impacto.jpg" alt="">
                <button class="button is-primary" onclick="window.location.href='inversion.html';">Invertir</button>
                <button class="button is-danger" onclick="window.location.href='dobleimpacto.html';">Saber más</button>
            </div>
            <div class="card quest">
                <img src="../images/QC LOGO-02.jpg" style="margin-bottom: 50px;">
                <div class="bdilabel label"> Quest Global Value</div>
                <button class="button is-primary" style="margin-top: -70px;" onclick="window.location.href='inversion.html';">Invertir</button>
                <button class="button is-danger"  style="margin-top: -90px;" onclick="window.location.href='dobleimpacto.html';">Saber más</button>
            </div>
            <div class="card quest">
                <img src="../images/QC LOGO-02.jpg" style="margin-bottom: 50px;">
                <div class="bdilabel label" > Quest Deuda Local</div>
                <button class="button is-primary" style="margin-top: -70px;" onclick="window.location.href='inversion.html';">Invertir</button>
                <button class="button is-danger"  style="margin-top: -90px;" onclick="window.location.href='dobleimpacto.html';">Saber más</button>
            </div>
            <div class="card quest">
                <img src="../images/QC LOGO-02.jpg" style="margin-bottom: 50px;">
                <div class="bdilabel label"> Quest Renta Local</div>
                <button class="button is-primary" style="margin-top: -70px;" onclick="window.location.href='inversion.html';">Invertir</button>
                <button class="button is-danger"  style="margin-top: -90px;" onclick="window.location.href='dobleimpacto.html';">Saber más</button>
            </div>
            <div class="card quest">
                <img src="../images/QC LOGO-02.jpg" style="margin-bottom: 50px;">
                <div class="bdilabel label"  > Quest Renta Global Hedge</div>
                <button class="button is-primary" style="margin-top: -70px;" onclick="window.location.href='inversion.html';">Invertir</button>
                <button class="button is-danger"  style="margin-top: -90px;" onclick="window.location.href='dobleimpacto.html';">Saber más</button>
            </div>
            <div class="card quest">
                <img src="../images/redcapital.png" style="margin-bottom: 50px;">
                <div class="bdilabel label"  > Quest Deuda CP</div>
                <button class="button is-primary" style="margin-top: -70px;" onclick="window.location.href='inversion.html';">Invertir</button>
                <button class="button is-danger"  style="margin-top: -90px;" onclick="window.location.href='dobleimpacto.html';">Saber más</button>
            </div>
        </div>
    </div>

    
</body>
<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Kripky</strong> by Santiago. 
      </p>
    </div>
  </footer>
<script src="../script.js"></script>
</html>